/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(156, 207, 244);
}

ul {
    list-style: none;
}
/* COMMON */

/* leyout */
.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

/* Buttons */
.btn {
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.btn-blue {
    background-color: rgb(147, 201, 234);
    border-color: rgb(147, 201, 234);
    color: white
}

.btn-blue:hover {
    background-color: rgb(69, 171, 235);
    border-color: rgb(69, 171, 235);
}

.btn-white {
    background-color: rgb(250, 250, 250);
    border-color: rgb(204, 207, 207);
    color: rgb(204, 207, 207);
}

/* Utilitis */

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}

.border-radius-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.border-radius-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bg-white {
    background-color: white;
}
/* HEADER */
.logo img {
    width: 60px;
    vertical-align: middle;
    vertical-align: middle;
}

.logo span {
    font-size: 36px;
    font-weight: 600;
    vertical-align: middle;
}
/* Tool list */

.circle {
    display: inline-block;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;

}

.check {
    border-color: green;
    color: green;
}

.cross {
    border-color: rgb(250, 6, 6);
    color: rgb(250, 6, 6);
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border-radius: 20px;
}

.Editorial {
    background-color: rgb(49, 98, 244);
}

.Q1 {
    background-color: rgb(190, 56, 231);
}

.Recruting {
    background-color: rgb(56, 231, 56);
}

.mobile {
    background-color: rgb(231, 176, 56);
}

.website {
    background-color: pink;
}

.sales {
    background-color: rgb(102, 166, 102);
}